{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/Accont/Login/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <title>logomarga</title>
</head>

<body>
    <section class="container">
        <div class="leftContainer">
            <div class="boxImage"></div>
        </div>
        <div class="ritghtContainer">
            <div class="boxForm">
                <h1>Efetuar login</h1>
                <form action="{% url 'run_accontLogin' %}" method="post" class="itemForm">
                    {% csrf_token %}
                    <input type="text" name="email" id="email" placeholder="DIGITE SEU EMAIL" >
                    <input type="password" name="senha" id="senha" placeholder="DIGITE SUA SENHA" >
                    <input type="submit" value="ENTRAR">
                </form>
                <p style="color: aliceblue;">Não possui conta ? <a href="{% url 'page_accontCreate' %}" style="color: aqua;">click aqui</a></p>
                <p style="color: aliceblue;">{{ error }}</p>
            </div>
        </div>
    </section>
</body>

</html>
